/.git
/node_modules/*
/test/*

/LICENSE
/README.md

*.br
*.gz
*.html
*.json
*.md
*.php

/webui/css/*
/webui/fonts/*
/webui/images/*
/webui/include/*

/webui/js/bootstrap.js
/webui/js/d3.js
/webui/js/datatables.js
/webui/js/jquery.js
/webui/js/material.js
/webui/js/moment-tz.js
/webui/js/moment.js
/webui/js/nouislider.js
/webui/js/popper.js
/webui/js/ripples.js
/webui/js/socket.io.js
